<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Page</title>
</head>
<body>
    <form>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control col-xl-4" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control col-xl-4" id="inputPassword4" placeholder="Password">
        </div>
        <fieldset disabled>
            <div class="form-group">
                <label for="disabledTextInput">Ülke</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>
            <div class="form-group">
                <label for="disabledTextInput">Şehir</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
        <div class="form-group">
            <label for="inputName">Telefon</label>
            <input type="text" class="form-control col-xl-4" id="telNo" placeholder="Telefon">
        </div>
    </form>


</body>
</html>