@{
    ViewBag.Title = "Register";
}

<form id="form1" class="container-fluid">
    <div style="display:initial;" id="form1">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control col-xl-4" id="firstName" placeholder="First name">
        </div>
        <div class="form-group">
            <label for="inputSurname">Surname</label>
            <input type="text" class="form-control col-xl-4" id="lastName" placeholder="Last name">
        </div>

        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control col-xl-4" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control col-xl-4" id="inputPassword4" placeholder="Password">
        </div>

        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="countrySelect">Country</label>
                <div>
                    @*@Html.DropDownList("Country", null, "Ülke Seç", new { @class = "form-control" })*@
                    @Html.DropDownList("Country", "Ülke Seç")
                </div>
            </div>
            <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="citySelect">City</label>
                <select class="custom-select mr-sm-2" id="citySelect">
                    <option selected>City</option>
                    <option value="1">Ankara</option>
                    <option value="2">İstanbul</option>
                    <option value="3">İzmir</option>
                </select>
            </div>
            <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="stateSelect">State</label>
                <select class="custom-select mr-sm-2" id="stateSelect">
                    <option selected>State</option>
                    <option value="1">Çankaya</option>
                    <option value="2">Mamak</option>
                    <option value="3">Keçiören</option>
                </select>
            </div>
        </div>
    </div>
</form>
<button class="btn btn-primary" id="button">Next</button>

<div style="display:none;" id="form2">
    <form>
        <fieldset disabled>
            <div class="form-group">
                <label for="disabledTextInput">Ülke</label>
                <input type="text" id="disabledTextUlke" class="form-control" placeholder="Disabled input">
            </div>
            <div class="form-group">
                <label for="disabledTextInput">Şehir</label>
                <input type="text" id="disabledTextSehir" class="form-control" placeholder="Disabled input">
            </div>
        </fieldset>
        <div class="form-group">
            <label for="inputTelephone">Telephone</label>
            <input type="text" class="form-control col-xl-4" id="telNumber" placeholder="Telephone Number">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts{
    <script>
        $("#button").on('click', function () {
            $("#form2").show();
            $("#form1").hide();
            $("#button").hide();


        });
        $(document).ready(function () {

        });

    </script>
}